*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: 'Catamaran', sans-serif;
  font-size: 16px;
}

.logo {
  background: transparent;
  color: inherit;
}

.main-header {
  background-color: #212328;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;

}

.main-header ul {
  display: flex;
  margin-left: 50px;
}

.main-header ul li {
  /* outline: 1px dashed red; */
  padding-left: 40px;
}

.main-header ul li:first-child {
  padding-left: 0;
  background-color: orange;
}

.main-header ul li:nth-child(2)::after, .main-header ul li:nth-child(3)::after{
  content: '\f078';
  font-family: FontAwesome;
   font-weight: normal;
   font-style: normal;
   margin:0px 0px 0px 6px;
   text-decoration:none;
   /* outline: 1px dashed red; */
   font-size: 11px;
}

.main-header a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.main-header ul li a:hover {
  text-decoration: underline;
}