@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Catamaran", sans-serif;
  font-size: 16px; }

h1 {
  font-size: 2rem;
  line-height: 2.1rem;
  font-weight: 700; }

.section-h2 {
  font-size: 2rem;
  font-weight: 500; }

.btn-primary {
  background-color: #0976d8; }

@media (min-width: 320px) {
  .opinion {
    position: fixed;
    background-color: #f33e54;
    z-index: 100;
    color: white;
    left: 0;
    top: 50%;
    padding: 0.6rem 0.6rem;
    margin: 0;
    font-size: 0.9rem;
    border-radius: 0 0 0.2rem 0.2rem;
    -webkit-transform: translate(-30%, -50%) rotate(-90deg);
            transform: translate(-30%, -50%) rotate(-90deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: none; }
    .opinion > span {
      margin-left: 0.4rem;
      letter-spacing: 0.05rem; }
    .opinion svg {
      height: 1.2rem;
      -webkit-transform: translate(0%, -10%) rotate(90deg);
              transform: translate(0%, -10%) rotate(90deg); }
    .opinion:hover {
      padding-top: 0.8rem;
      -webkit-box-shadow: 0px 8px 100px -7px #42445a;
      box-shadow: 0px 8px 100px -7px #42445a; }

  .promo {
    background-color: #d76996;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .promo a {
      color: white;
      font-weight: 500;
      font-size: 0.9rem;
      padding: 0.5rem 2rem;
      line-height: 1.1rem;
      text-align: center; }
      .promo a:nth-child(2) {
        position: absolute;
        right: 1rem; }
      .promo a:nth-child(2) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-right: 0; }
        .promo a:nth-child(2) svg {
          height: 1rem; }

  .main-nav {
    display: none; }

  .mobile-main-nav {
    background-color: #212328;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10; }
    .mobile-main-nav--menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      height: 4rem; }
    .mobile-main-nav--item:not(:nth-child(5)) {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      line-height: 1.4rem; }
      .mobile-main-nav--item:not(:nth-child(5)) img {
        text-align: center;
        display: block;
        margin: 0 auto; }
    .mobile-main-nav--link {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8rem;
      text-align: center;
      margin-top: 1rem;
      -webkit-transition: margin-top 0.3s ease-in-out;
      transition: margin-top 0.3s ease-in-out; }
      .mobile-main-nav--link span {
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        opacity: 0; }
      .mobile-main-nav--link:hover {
        margin-top: 0rem; }
        .mobile-main-nav--link:hover span {
          opacity: 1; }
    .mobile-main-nav li:nth-child(5) {
      width: 100%;
      position: relative;
      -webkit-box-shadow: 0px -26px 40px -28px #42445a;
      box-shadow: 0px -26px 40px -28px #42445a; }
      .mobile-main-nav li:nth-child(5) a {
        margin-top: 0;
        color: black;
        position: absolute;
        top: -1rem;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        border-radius: 4rem;
        text-align: center;
        font-weight: 800;
        font-size: 0.9rem;
        background-color: #fff; }
        .mobile-main-nav li:nth-child(5) a::after {
          content: "";
          display: block;
          margin: -1.4rem auto 0;
          width: 40%;
          height: 2px;
          background-color: #000; }

  .content {
    padding: 0 0 0 5vw; }
    .content .slogan {
      padding: 80px 24px 32px; }
      .content .slogan h1 {
        margin-bottom: 1rem; }
      .content .slogan p {
        font-weight: 300;
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-bottom: 2rem; }
      .content .slogan a:link,
      .content .slogan a:visited {
        color: white;
        background-color: #0976d8;
        padding: 0.8rem;
        font-weight: 800;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 2rem;
        font-size: 0.8rem; }
      .content .slogan a:hover {
        background-color: #3b76d8; }
    .content .last-lern {
      margin-top: 4rem; }
      .content .last-lern header {
        display: block; }
        .content .last-lern header a {
          display: inline-block;
          margin-top: 0.8rem;
          color: #0976d8;
          text-decoration: none;
          font-weight: 600; }
      .content .last-lern--inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        overflow: auto; }
      .content .last-lern--item {
        margin: 2.5rem 1rem;
        width: 390px;
        -webkit-box-shadow: 0px 20px 45px -30px #42445a;
        box-shadow: 0px 20px 45px -30px #42445a; }
        .content .last-lern--item header {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          height: 3.1rem;
          border-radius: 0.4rem 0.4rem 0 0;
          padding: 0 1rem;
          background-color: #ecd61c; }
          .content .last-lern--item header svg {
            height: 3rem;
            width: 3rem;
            border-radius: 2rem;
            margin-top: 1.3rem; }
          .content .last-lern--item header span {
            background-color: #fff;
            border-radius: 1rem;
            padding: 0.3rem;
            font-size: 0.8rem;
            color: #636262;
            font-weight: 600; }
        .content .last-lern--item .content--item {
          max-height: 15.75rem;
          padding: 2rem; }
    .content .slider {
      margin-right: 5vw;
      margin-top: 2vw;
      margin-bottom: 2vw;
      height: 15rem;
      position: relative; }
      .content .slider:hover .btn {
        -webkit-transition: opacity 0.2s ease-in-out;
        transition: opacity 0.2s ease-in-out;
        opacity: 1; }
      .content .slider .slider-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem;
        overflow: hidden; }
        .content .slider .slider-inner .last-lern--course {
          min-width: 360px;
          max-width: 360px;
          height: 13rem;
          margin-right: 1rem;
          border-radius: 0.5rem;
          position: relative;
          -webkit-box-shadow: 0px 0px 20px -13px #42445a;
          box-shadow: 0px 0px 20px -13px #42445a; }
          .content .slider .slider-inner .last-lern--course header > .header--inner {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            height: 3rem;
            background-color: #ecd61a;
            border-radius: 0.5rem 0.5rem 0 0; }
            .content .slider .slider-inner .last-lern--course header > .header--inner .header--left {
              position: relative;
              width: 100%;
              height: 100%; }
              .content .slider .slider-inner .last-lern--course header > .header--inner .header--left svg {
                position: absolute;
                top: 0.5rem;
                left: 0.5rem;
                border-radius: 50%;
                z-index: 20; }
            .content .slider .slider-inner .last-lern--course header > .header--inner .header--right {
              width: 100%;
              height: 100%;
              line-height: 3rem;
              text-align: right;
              padding-right: 1rem; }
              .content .slider .slider-inner .last-lern--course header > .header--inner .header--right span {
                color: #636262;
                background-color: #fff;
                padding: 0 1rem;
                border-radius: 0.5rem;
                font-weight: 600;
                font-size: 0.8rem;
                z-index: 20; }
          .content .slider .slider-inner .last-lern--course:last-child {
            margin-right: 0; }
          .content .slider .slider-inner .last-lern--course:hover > header {
            border-radius: 0.5rem; }
          .content .slider .slider-inner .last-lern--course .content--show {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 3rem;
            z-index: 10;
            opacity: 0; }
            .content .slider .slider-inner .last-lern--course .content--show p.time-left {
              color: white;
              margin-top: 1.5rem;
              margin-left: 2rem; }
          .content .slider .slider-inner .last-lern--course .content--item {
            padding: 2rem; }
            .content .slider .slider-inner .last-lern--course .content--item h3 {
              font-size: 1.5rem;
              font-weight: 500; }
            .content .slider .slider-inner .last-lern--course .content--item p.time-left {
              color: #75767a;
              font-weight: 300;
              margin: 1rem 0; }
            .content .slider .slider-inner .last-lern--course .content--item progress {
              width: 100%;
              height: 1.3rem; }
          .content .slider .slider-inner .last-lern--course:hover > .content--show {
            background: #ecc31a;
            background: linear-gradient(315deg, #ecc31a 0%, #ecd61a 35%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecc31a",endColorstr="#ecd61a",GradientType=1);
            min-height: calc(145px);
            max-height: 360px;
            border-radius: 0.5rem;
            padding-top: 4rem;
            opacity: 1;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out; }
            .content .slider .slider-inner .last-lern--course:hover > .content--show h3 {
              color: white;
              margin-left: 1rem;
              font-size: 1.5rem; }
            .content .slider .slider-inner .last-lern--course:hover > .content--show button {
              background-color: transparent;
              border: 3px solid white;
              font-size: 1.2rem;
              color: white;
              text-transform: uppercase;
              font-weight: 600;
              border-radius: 2rem;
              padding: 0.5rem 1rem;
              text-align: right;
              position: absolute;
              right: 1rem;
              bottom: 1rem; }
      .content .slider .btn {
        opacity: 0;
        border: none;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        z-index: 100;
        -webkit-box-shadow: 0px 0px 20px -13px #42445a;
        box-shadow: 0px 0px 20px -13px #42445a; }
        .content .slider .btn svg {
          width: 2rem;
          fill: #b9b9b9;
          color: #b9b9b9; }
        .content .slider .btn:hover {
          -webkit-box-shadow: 0px 0px 30px -11px #42445a;
          box-shadow: 0px 0px 30px -11px #42445a; }
      .content .slider .btn-prev,
      .content .slider .btn-next {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: absolute;
        top: 50%; }
      .content .slider .btn-prev {
        left: 0;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
      .content .slider .btn-next {
        right: 0;
        -webkit-transform: translate(50%, -50%);
                transform: translate(50%, -50%); }
    .content .slogans {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      outline: 1px solid red; }
      .content .slogans .slogan {
        width: 50%; }
      .content .slogans .slogan--left {
        outline: 1px dashed green; }
    .content .test-wrapper {
      margin: 2rem 0;
      outline: 1px dashed blue;
      padding: 1rem;
      position: relative; }
      .content .test-wrapper .test {
        border: 1px solid red;
        width: 360px;
        height: 10rem;
        opacity: 1; }
        .content .test-wrapper .test:hover {
          opacity: 0; }
      .content .test-wrapper .overlay {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1; }

  .main-footer {
    background-color: #212329;
    width: 100%;
    margin-top: 2rem; }
    .main-footer .social .social-media {
      list-style: none;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .main-footer .social-icon {
      height: 2rem;
      background-color: transparent;
      border-radius: 2rem; }
      .main-footer .social-icon.facebook:hover {
        fill: #1877f2; }
      .main-footer .social-icon.instagram:hover {
        fill: #e4405f; }
      .main-footer .social-icon.youtube:hover {
        fill: #ff0000; } }
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
@media (min-width: 735px) {
  .mobile-main-nav {
    display: none; }

  .show {
    display: block; }

  .promo {
    background-color: #d76996;
    height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .promo a {
      color: white;
      font-weight: 500;
      font-size: 0.9rem; }
      .promo a:nth-child(2) {
        position: absolute;
        right: 1rem; }
      .promo a svg {
        height: 1rem; }

  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60px;
    background-color: #212328;
    padding: 0 2rem; }
    .main-nav--left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .main-nav--left #logo {
        height: 1.4rem;
        width: 1.4rem;
        margin: 0;
        padding: 0; }
    .main-nav--menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin: 0;
      padding: 0; }
    .main-nav--item {
      margin: 0 0.8rem;
      position: relative; }
      .main-nav--item .main-nav--sub-menu {
        display: block;
        position: absolute;
        top: 2rem;
        left: -1.5rem;
        z-index: 10;
        background-color: #fff;
        width: 15rem;
        padding: 1.5rem;
        border-radius: 1rem;
        -webkit-box-shadow: 0px 8px 10px -7px rgba(66, 68, 90, 0.5);
        box-shadow: 0px 8px 10px -7px rgba(66, 68, 90, 0.5); }
        .main-nav--item .main-nav--sub-menu li {
          padding: 1rem 0; }
          .main-nav--item .main-nav--sub-menu li a {
            color: #161616;
            font-weight: 700;
            text-decoration: none;
            font-size: 0.9rem;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            .main-nav--item .main-nav--sub-menu li a svg {
              width: 1.5rem;
              margin-right: 1rem; }
            .main-nav--item .main-nav--sub-menu li a svg:nth-child(2) {
              fill: #fb677c; }
            .main-nav--item .main-nav--sub-menu li a:hover {
              background-color: #f7f7f7; }
      .main-nav--item > ul {
        display: none; }
    .main-nav--link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: white;
      font-weight: 600;
      font-size: 0.9rem;
      text-decoration: none;
      position: relative; }
      .main-nav--link > svg {
        padding-left: 0.1rem;
        height: 1rem;
        width: 1rem; }
      .main-nav--link:hover::after {
        content: "";
        display: block;
        width: calc(100% - 1.1rem);
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: -0.3rem; }
      .main-nav--link:hover svg {
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    .main-nav--right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .main-nav--right form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .main-nav--right form input {
          display: none;
          height: 2.43rem;
          width: 6rem;
          border: none;
          outline: none;
          border-radius: 2.43rem 0 0 2.43rem;
          padding: 0 0 0 1rem;
          background-color: #37393d;
          color: #acacac;
          font-weight: 600; }
          .main-nav--right form input::-webkit-input-placeholder {
            color: #acacac;
            font-weight: 600; }
          .main-nav--right form input:-ms-input-placeholder {
            color: #acacac;
            font-weight: 600; }
          .main-nav--right form input::-ms-input-placeholder {
            color: #acacac;
            font-weight: 600; }
          .main-nav--right form input::placeholder {
            color: #acacac;
            font-weight: 600; }
          .main-nav--right form input:focus {
            background-color: #505258; }
        .main-nav--right form button {
          height: 2.43rem;
          width: 2.43rem;
          border: none;
          outline: none;
          border-radius: 2.43rem;
          background-color: #37393d; }
          .main-nav--right form button svg {
            height: 1rem;
            color: #717274; }
      .main-nav--right .actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-left: 1px solid #2b2d31;
        border-right: 1px solid #2b2d31;
        margin: 0 0.8rem;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .main-nav--right .actions--item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin: 0 1rem;
          width: 100%;
          height: 100%; }
          .main-nav--right .actions--item:hover {
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start; }
            .main-nav--right .actions--item:hover > a svg {
              padding-top: 15%;
              -webkit-transition: padding-top 0.2s ease;
              transition: padding-top 0.2s ease; }
            .main-nav--right .actions--item:hover > a > p {
              -webkit-transition: opacity 0.3s ease;
              transition: opacity 0.3s ease;
              opacity: 1;
              width: 100%; }
        .main-nav--right .actions--link {
          margin: 0 auto;
          text-align: center;
          color: white;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 0.6rem;
          line-height: 1rem; }
          .main-nav--right .actions--link > p {
            opacity: 0; }
        .main-nav--right .actions svg {
          height: 1.3rem;
          padding-top: 25%; }
      .main-nav--right .user-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .main-nav--right .user-menu--item:nth-child(2) {
          margin: 0 0.8rem; }
        .main-nav--right .user-menu--link {
          color: white;
          text-decoration: none;
          font-weight: 500; }
          .main-nav--right .user-menu--link svg {
            max-width: 2rem;
            max-height: 2rem; }

  .content .slogan {
    margin: 2rem 0; }
    .content .slogan h1 {
      font-size: 2.5rem; }
    .content .slogan p {
      font-size: 1.5rem;
      line-height: 2rem;
      font-weight: 200;
      letter-spacing: 0.1rem; } }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 860px) {
  .main-nav--right form input {
    display: none; }
  .main-nav--right form button {
    border-radius: 2.43rem; } }
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content .slogan p {
    max-width: 50vw; } }
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1136px) {
  .main-nav--right form input {
    display: block;
    height: 2.43rem;
    width: 6rem;
    border: none;
    outline: none;
    border-radius: 2.43rem 0 0 2.43rem;
    padding: 0 0 0 1rem;
    background-color: #37393d;
    color: #acacac;
    font-weight: 600; }
    .main-nav--right form input::-webkit-input-placeholder {
      color: #acacac;
      font-weight: 600; }
    .main-nav--right form input:-ms-input-placeholder {
      color: #acacac;
      font-weight: 600; }
    .main-nav--right form input::-ms-input-placeholder {
      color: #acacac;
      font-weight: 600; }
    .main-nav--right form input::placeholder {
      color: #acacac;
      font-weight: 600; }
    .main-nav--right form input:focus {
      background-color: #505258; }
  .main-nav--right form button {
    height: 2.43rem;
    width: 2.43rem;
    border: none;
    outline: none;
    border-radius: 0 2.43rem 2.43rem 0;
    background-color: #37393d; }
    .main-nav--right form button svg {
      height: 1rem;
      color: #717274; }

  .content .slogan {
    padding: 8rem 2rem;
    background: url("../assets/images/wyszukiwanie.svg") right 5% center no-repeat;
    background-size: auto auto;
    height: 40vh; } }
@media (min-width: 1285px) {
  .main-nav {
    height: 75px; }
    .main-nav--left #logo {
      height: 3rem;
      width: 3rem; }
    .main-nav--right form input {
      width: 10rem; } }
@media (min-width: 1336px) {
  .main-nav--right form input {
    width: 10rem; } }
@media (min-width: 1736px) {
  .main-nav--right form input {
    width: 10rem; } }

/*# sourceMappingURL=style.css.map */