@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Catamaran", sans-serif;
  font-size: 16px; }

@media (min-width: 320px) {
  .promo {
    background-color: #d76996;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .promo a {
      color: white;
      font-weight: 500;
      font-size: 0.9rem;
      padding: 0.5rem 2rem;
      line-height: 1.1rem;
      text-align: center; }
      .promo a:nth-child(2) {
        position: absolute;
        right: 1rem; }
      .promo a:nth-child(2) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-right: 0; }
        .promo a:nth-child(2) svg {
          height: 1rem; }

  .main-nav {
    display: none; }

  .mobile-main-nav {
    background-color: #212328;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10; }
    .mobile-main-nav--menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      height: 4rem; }
    .mobile-main-nav--item:not(:nth-child(5)) {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      line-height: 1.4rem; }
      .mobile-main-nav--item:not(:nth-child(5)) img {
        text-align: center;
        display: block;
        margin: 0 auto; }
    .mobile-main-nav--link {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8rem;
      text-align: center;
      margin-top: 1rem;
      -webkit-transition: margin-top 0.3s ease-in-out;
      transition: margin-top 0.3s ease-in-out; }
      .mobile-main-nav--link span {
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        opacity: 0; }
      .mobile-main-nav--link:hover {
        margin-top: 0rem; }
        .mobile-main-nav--link:hover span {
          opacity: 1; }
    .mobile-main-nav li:nth-child(5) {
      width: 100%;
      position: relative;
      -webkit-box-shadow: 0px -26px 40px -28px #42445a;
      box-shadow: 0px -26px 40px -28px #42445a; }
      .mobile-main-nav li:nth-child(5) a {
        margin-top: 0;
        color: black;
        position: absolute;
        top: -1rem;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        border-radius: 4rem;
        text-align: center;
        font-weight: 800;
        font-size: 0.9rem;
        background-color: #fff; }
        .mobile-main-nav li:nth-child(5) a::after {
          content: "";
          display: block;
          margin: -1.4rem auto 0;
          width: 40%;
          height: 2px;
          background-color: #000; }

  footer.main-footer {
    background-color: #212329;
    position: absolute;
    bottom: 4rem;
    width: 100%; }
    footer.main-footer social .social-media {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      footer.main-footer social .social-media svg {
        height: 2rem;
        width: 2rem;
        margin: 0;
        padding: 0; } }
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
@media (min-width: 735px) {
  .mobile-main-nav {
    display: none; }

  .promo {
    background-color: #d76996;
    height: 23px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    .promo a {
      color: white;
      font-weight: 500;
      font-size: 0.9rem; }
      .promo a:nth-child(2) {
        position: absolute;
        right: 1rem; }
      .promo a svg {
        height: 1rem; }

  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 60px;
    background-color: #212328;
    padding: 0 2rem; }
    .main-nav--left {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .main-nav--left #logo {
        height: 1.4rem;
        width: 1.4rem;
        margin: 0;
        padding: 0; }
    .main-nav--menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      margin: 0;
      padding: 0; }
    .main-nav--item {
      margin: 0 0.8rem; }
    .main-nav--link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: white;
      font-weight: 600;
      font-size: 0.9rem;
      text-decoration: none;
      position: relative; }
      .main-nav--link > svg {
        padding-left: 0.1rem;
        height: 1rem;
        width: 1rem; }
      .main-nav--link:hover::after {
        content: "";
        display: block;
        width: calc(100% - 1.1rem);
        height: 2px;
        background-color: white;
        position: absolute;
        bottom: -0.3rem; }
      .main-nav--link:hover svg {
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg); }
    .main-nav--right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .main-nav--right form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .main-nav--right form input {
          display: none;
          height: 2.43rem;
          width: 6rem;
          border: none;
          outline: none;
          border-radius: 2.43rem 0 0 2.43rem;
          padding: 0 0 0 1rem;
          background-color: #37393d;
          color: #acacac;
          font-weight: 600; }
          .main-nav--right form input::-webkit-input-placeholder {
            color: #acacac;
            font-weight: 600; }
          .main-nav--right form input:-ms-input-placeholder {
            color: #acacac;
            font-weight: 600; }
          .main-nav--right form input::-ms-input-placeholder {
            color: #acacac;
            font-weight: 600; }
          .main-nav--right form input::placeholder {
            color: #acacac;
            font-weight: 600; }
          .main-nav--right form input:focus {
            background-color: #505258; }
        .main-nav--right form button {
          height: 2.43rem;
          width: 2.43rem;
          border: none;
          outline: none;
          border-radius: 2.43rem;
          background-color: #37393d; }
          .main-nav--right form button svg {
            height: 1rem;
            color: #717274; }
      .main-nav--right .actions {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border-left: 1px solid #2b2d31;
        border-right: 1px solid #2b2d31;
        margin: 0 0.8rem;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .main-nav--right .actions--item {
          margin: 0 1rem; }
        .main-nav--right .actions svg {
          height: 1.3rem; }
      .main-nav--right .user-menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .main-nav--right .user-menu--item:nth-child(2) {
          margin: 0 0.8rem; }
        .main-nav--right .user-menu--link {
          color: white;
          text-decoration: none;
          font-weight: 500; }
          .main-nav--right .user-menu--link svg {
            max-width: 2rem;
            max-height: 2rem; } }
/* Medium devices (tablets, 768px and up) */
@media (min-width: 860px) {
  .main-nav--right form input {
    display: none; }
  .main-nav--right form button {
    border-radius: 2.43rem; } }
/* Large devices (desktops, 992px and up) */
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1136px) {
  .main-nav--right form input {
    display: block;
    height: 2.43rem;
    width: 6rem;
    border: none;
    outline: none;
    border-radius: 2.43rem 0 0 2.43rem;
    padding: 0 0 0 1rem;
    background-color: #37393d;
    color: #acacac;
    font-weight: 600; }
    .main-nav--right form input::-webkit-input-placeholder {
      color: #acacac;
      font-weight: 600; }
    .main-nav--right form input:-ms-input-placeholder {
      color: #acacac;
      font-weight: 600; }
    .main-nav--right form input::-ms-input-placeholder {
      color: #acacac;
      font-weight: 600; }
    .main-nav--right form input::placeholder {
      color: #acacac;
      font-weight: 600; }
    .main-nav--right form input:focus {
      background-color: #505258; }
  .main-nav--right form button {
    height: 2.43rem;
    width: 2.43rem;
    border: none;
    outline: none;
    border-radius: 0 2.43rem 2.43rem 0;
    background-color: #37393d; }
    .main-nav--right form button svg {
      height: 1rem;
      color: #717274; } }
@media (min-width: 1285px) {
  .main-nav {
    height: 75px; }
    .main-nav--left #logo {
      height: 3rem;
      width: 3rem; }
    .main-nav--right form input {
      width: 10rem; } }
@media (min-width: 1336px) {
  .main-nav--right form input {
    width: 10rem; } }
@media (min-width: 1736px) {
  .main-nav--right form input {
    width: 10rem; } }

/*# sourceMappingURL=style.css.map */