@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Catamaran", sans-serif;
    font-size: 16px;
}

@media (max-width: 319px) {
}

@media (min-width: 320px) {
    .mobile-main-nav {
        background-color: #212328;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10;

        &--menu {
            display: flex;
            justify-content: space-around;
            height: 4rem;
        }

        &--item:not(:nth-child(5)) {
            width: 100%;
            // outline: 1px dashed red;
            // background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.4rem;
            img {
                text-align: center;
                display: block;
                margin: 0 auto;
            }
        }

        &--link {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.8rem;
            text-align: center;
            margin-top: 1rem;
            transition: margin-top 0.3s ease-in-out;

            span {
                transition: opacity 0.3s ease-in-out;
                opacity: 0;
            }

            &:hover {
                margin-top: 0rem;
                span {
                    opacity: 1;
                }
            }
        }

        li:nth-child(5) {
            width: 100%;
            // outline: 1px dotted red;
            // background-color: red;
            position: relative;
            // box-shadow: 0 10px 10px #000;
            -webkit-box-shadow: 0px -26px 40px -28px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px -26px 40px -28px rgba(66, 68, 90, 1);
            box-shadow: 0px -26px 40px -28px rgba(66, 68, 90, 1);

            a {
                margin-top: 0;
                color: black;
                position: absolute;
                // bottom: 0;
                top: -1rem;
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                border-radius: 4rem;
                text-align: center;
                font-weight: 800;
                font-size: 0.9rem;
                background-color: #fff;
            }
        }
    }
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
