@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Catamaran", sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    line-height: 2.1rem;
    font-weight: 700;
}

@media (max-width: 319px) {
}

@media (min-width: 320px) {
    .promo {
        background-color: #d76996;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        a {
            color: white;
            font-weight: 500;
            font-size: 0.9rem;
            padding: 0.5rem 2rem;
            // padding-left: 1rem;
            line-height: 1.1rem;
            text-align: center;

            &:nth-child(2) {
                position: absolute;
                right: 1rem;
            }

            &:nth-child(2) {
                display: flex;
                align-items: center;
                padding-right: 0;
                svg {
                    height: 1rem;
                }
            }
        }
    }

    .main-nav {
        display: none;
    }

    .mobile-main-nav {
        background-color: #212328;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10;

        &--menu {
            display: flex;
            justify-content: space-around;
            height: 4rem;
        }

        &--item:not(:nth-child(5)) {
            width: 100%;
            // outline: 1px dashed red;
            // background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.4rem;
            img {
                text-align: center;
                display: block;
                margin: 0 auto;
            }
        }

        &--link {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.8rem;
            text-align: center;
            margin-top: 1rem;
            transition: margin-top 0.3s ease-in-out;

            span {
                transition: opacity 0.3s ease-in-out;
                opacity: 0;
            }

            &:hover {
                margin-top: 0rem;
                span {
                    opacity: 1;
                }
            }
        }

        li:nth-child(5) {
            width: 100%;
            // outline: 1px dotted red;
            // background-color: red;
            position: relative;
            // box-shadow: 0 10px 10px #000;
            -webkit-box-shadow: 0px -26px 40px -28px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px -26px 40px -28px rgba(66, 68, 90, 1);
            box-shadow: 0px -26px 40px -28px rgba(66, 68, 90, 1);

            a {
                margin-top: 0;
                color: black;
                position: absolute;
                // bottom: 0;
                top: -1rem;
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                border-radius: 4rem;
                text-align: center;
                font-weight: 800;
                font-size: 0.9rem;
                background-color: #fff;

                &::after {
                    content: "";
                    display: block;
                    margin: -1.4rem auto 0;
                    width: 40%;
                    height: 2px;
                    background-color: #000;
                }
            }
        }
    }

    .slogan {
        h1 {
            margin-bottom: 1rem;
        }
        padding: 80px 24px 32px;
        p {
            font-weight: 300;
            font-size: 1.1rem;
            line-height: 1.5rem;
            margin-bottom: 2rem;
        }

        a:link,
        a:visited {
            color: white;
            background-color: #0976d8;
            padding: 0.8rem;
            font-weight: 800;
            text-transform: uppercase;
            text-decoration: none;
            border-radius: 2rem;
            font-size: 0.8rem;
        }

        a:hover {
            background-color: #3b76d8;
        }
    }

    .main-footer {
        background-color: #212329;
        position: absolute;
        bottom: 4rem;
        width: 100%;

        // margin-top: 200px;

        .social {
            .social-media {
                list-style: none;
                display: flex;
            }
        }
        .social-icon {
            height: 2rem;
            background-color: transparent;
            border-radius: 2rem;

            &.facebook:hover {
                fill: #1877f2;
            }

            &.instagram:hover {
                fill: #e4405f;
            }

            &.youtube:hover {
                fill: #ff0000;
            }
        }
    }
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

@media (min-width: 735px) {
    .mobile-main-nav {
        display: none;
    }

    .promo {
        background-color: #d76996;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        a {
            color: white;
            font-weight: 500;
            font-size: 0.9rem;

            &:nth-child(2) {
                position: absolute;
                right: 1rem;
            }

            svg {
                height: 1rem;
            }
        }
    }

    .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        background-color: #212328;
        padding: 0 2rem;

        &--left {
            display: flex;
            align-items: center;

            #logo {
                height: 1.4rem;
                width: 1.4rem;
                margin: 0;
                padding: 0;
            }
        }

        &--menu {
            display: flex;
            justify-content: flex-start;
            margin: 0;
            padding: 0;
        }

        &--item {
            margin: 0 0.8rem;
        }

        &--link {
            display: flex;
            align-items: center;
            color: white;
            font-weight: 600;
            font-size: 0.9rem;
            text-decoration: none;

            position: relative;

            & > svg {
                padding-left: 0.1rem;
                height: 1rem;
                width: 1rem;
            }

            &:hover {
                &::after {
                    content: "";
                    display: block;
                    width: calc(100% - 1.1rem);
                    height: 2px;
                    background-color: white;
                    position: absolute;
                    bottom: -0.3rem;
                }

                svg {
                    transition: transform 0.5s ease-in-out;
                    transform: rotate(180deg);
                }
            }
        }

        &--right {
            display: flex;

            form {
                display: flex;
                align-items: center;

                input {
                    display: none;
                    height: 2.43rem;
                    width: 6rem;
                    border: none;
                    outline: none;
                    border-radius: 2.43rem 0 0 2.43rem;
                    padding: 0 0 0 1rem;
                    background-color: #37393d;
                    color: #acacac;
                    font-weight: 600;

                    &::placeholder {
                        color: #acacac;
                        font-weight: 600;
                    }

                    // &:active {
                    //     background-color: yellow;
                    // }

                    &:focus {
                        background-color: #505258;
                    }
                }

                button {
                    height: 2.43rem;
                    width: 2.43rem;
                    border: none;
                    outline: none;
                    border-radius: 2.43rem;
                    background-color: #37393d;

                    svg {
                        height: 1rem;
                        color: #717274;
                    }
                }
            }

            .actions {
                // padding: 0 3rem;
                display: flex;
                border-left: 1px solid #2b2d31;
                border-right: 1px solid #2b2d31;
                margin: 0 0.8rem;
                align-items: center;

                &--item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    width: 100%;
                    height: 100%;

                    &:hover {
                        align-items: flex-start;

                        & > a {
                            & svg {
                                padding-top: 15%;
                                transition: padding-top 0.2s ease;
                            }
                        }

                        & > a > p {
                            transition: opacity 0.3s ease;
                            opacity: 1;
                            width: 100%;
                        }
                    }
                }

                &--link {
                    // display: flex;
                    // justify-content: center;

                    margin: 0 auto;
                    text-align: center;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 0.6rem;
                    line-height: 1rem;

                    & > p {
                        // display: none;
                        opacity: 0;
                    }
                }
                svg {
                    height: 1.3rem;
                    padding-top: 25%;
                }
            }

            .user-menu {
                display: flex;
                align-items: center;

                &--item {
                    &:nth-child(2) {
                        margin: 0 0.8rem;
                    }
                }

                &--link {
                    color: white;
                    text-decoration: none;
                    font-weight: 500;

                    svg {
                        max-width: 2rem;
                        max-height: 2rem;
                    }
                }
            }
        }
    }

    .main-footer {
        // position: static;
        position: fixed;
        bottom: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

@media (min-width: 860px) {
    .main-nav {
        &--right {
            form {
                input {
                    display: none;
                }
                button {
                    border-radius: 2.43rem;
                }
            }
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1136px) {
    .main-nav {
        &--right {
            form {
                input {
                    display: block;
                    height: 2.43rem;
                    width: 6rem;
                    border: none;
                    outline: none;
                    border-radius: 2.43rem 0 0 2.43rem;
                    padding: 0 0 0 1rem;
                    background-color: #37393d;
                    color: #acacac;
                    font-weight: 600;

                    &::placeholder {
                        color: #acacac;
                        font-weight: 600;
                    }

                    &:focus {
                        background-color: #505258;
                    }
                }

                button {
                    height: 2.43rem;
                    width: 2.43rem;
                    border: none;
                    outline: none;
                    border-radius: 0 2.43rem 2.43rem 0;
                    background-color: #37393d;

                    svg {
                        height: 1rem;
                        color: #717274;
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1285px) {
    .main-nav {
        height: 75px;

        &--left {
            #logo {
                height: 3rem;
                width: 3rem;
            }
        }

        &--right {
            form {
                input {
                    width: 10rem;
                }
            }
        }
    }
}

@media (min-width: 1336px) {
    .main-nav {
        &--right {
            form {
                input {
                    width: 10rem;
                }
            }
        }
    }
}

@media (min-width: 1736px) {
    .main-nav {
        &--right {
            form {
                input {
                    width: 10rem;
                }
            }
        }
    }
}
