@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@200;300;400;500;600;700;800&display=swap");

body {
    font-family: "Catamaran", sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 2rem;
    line-height: 2.1rem;
    font-weight: 700;
}

.section-h2 {
    font-size: 2rem;

    font-weight: 500;
}

.btn-primary {
    background-color: #0976d8;
}

@media (max-width: 319px) {
}

@media (min-width: 320px) {
    .opinion {
        position: fixed;
        background-color: #f33e54;
        z-index: 100;
        color: white;
        left: 0;
        top: 50%;
        padding: 0.6rem 0.6rem;
        margin: 0;
        font-size: 0.9rem;
        border-radius: 0 0 0.2rem 0.2rem;
        transform: translate(-30%, -50%) rotate(-90deg);
        display: flex;
        align-items: center;
        text-decoration: none;

        & > span {
            margin-left: 0.4rem;
            letter-spacing: 0.05rem;
        }

        svg {
            height: 1.2rem;
            transform: translate(-0%, -10%) rotate(90deg);
        }

        &:hover {
            padding-top: 0.8rem;
            -webkit-box-shadow: 0px 8px 100px -7px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px 8px 100px -7px rgba(66, 68, 90, 1);
            box-shadow: 0px 8px 100px -7px rgba(66, 68, 90, 1);
        }
    }

    .promo {
        background-color: #d76996;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        a {
            color: white;
            font-weight: 500;
            font-size: 0.9rem;
            padding: 0.5rem 2rem;
            // padding-left: 1rem;
            line-height: 1.1rem;
            text-align: center;

            &:nth-child(2) {
                position: absolute;
                right: 1rem;
            }

            &:nth-child(2) {
                display: flex;
                align-items: center;
                padding-right: 0;
                svg {
                    height: 1rem;
                }
            }
        }
    }

    .main-nav {
        display: none;
    }

    .mobile-main-nav {
        background-color: #212328;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 10;

        &--menu {
            display: flex;
            justify-content: space-around;
            height: 4rem;
        }

        &--item:not(:nth-child(5)) {
            width: 100%;
            // outline: 1px dashed red;
            // background-color: red;
            display: flex;
            justify-content: center;
            align-items: center;
            line-height: 1.4rem;
            img {
                text-align: center;
                display: block;
                margin: 0 auto;
            }
        }

        &--link {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 0.8rem;
            text-align: center;
            margin-top: 1rem;
            transition: margin-top 0.3s ease-in-out;

            span {
                transition: opacity 0.3s ease-in-out;
                opacity: 0;
            }

            &:hover {
                margin-top: 0rem;
                span {
                    opacity: 1;
                }
            }
        }

        li:nth-child(5) {
            width: 100%;
            // outline: 1px dotted red;
            // background-color: red;
            position: relative;
            // box-shadow: 0 10px 10px #000;
            -webkit-box-shadow: 0px -26px 40px -28px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px -26px 40px -28px rgba(66, 68, 90, 1);
            box-shadow: 0px -26px 40px -28px rgba(66, 68, 90, 1);

            a {
                margin-top: 0;
                color: black;
                position: absolute;
                // bottom: 0;
                top: -1rem;
                width: 4rem;
                height: 4rem;
                line-height: 4rem;
                border-radius: 4rem;
                text-align: center;
                font-weight: 800;
                font-size: 0.9rem;
                background-color: #fff;

                &::after {
                    content: "";
                    display: block;
                    margin: -1.4rem auto 0;
                    width: 40%;
                    height: 2px;
                    background-color: #000;
                }
            }
        }
    }

    .content {
        padding: 0 0 0 5vw;

        .slogan {
            // outline: 1px dashed red;

            h1 {
                margin-bottom: 1rem;
            }
            padding: 80px 24px 32px;
            p {
                font-weight: 300;
                font-size: 1.1rem;
                line-height: 1.5rem;
                margin-bottom: 2rem;
            }

            a:link,
            a:visited {
                color: white;
                background-color: #0976d8;
                padding: 0.8rem;
                font-weight: 800;
                text-transform: uppercase;
                text-decoration: none;
                border-radius: 2rem;
                font-size: 0.8rem;
            }

            a:hover {
                background-color: #3b76d8;
            }
        }

        .last-lern {
            margin-top: 4rem;

            header {
                display: block;
                a {
                    display: inline-block;
                    margin-top: 0.8rem;
                    color: #0976d8;
                    text-decoration: none;
                    font-weight: 600;
                }
            }

            &--inner {
                display: flex;
                overflow: auto;
            }

            &--item {
                margin: 2.5rem 1rem;
                width: 390px;

                -webkit-box-shadow: 0px 20px 45px -30px rgba(66, 68, 90, 1);
                -moz-box-shadow: 0px 20px 45px -30px rgba(66, 68, 90, 1);
                box-shadow: 0px 20px 45px -30px rgba(66, 68, 90, 1);
                header {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 3.1rem;
                    border-radius: 0.4rem 0.4rem 0 0;
                    padding: 0 1rem;
                    background-color: #ecd61c;
                    // outline: 1px dashed red;
                    // position: relative;

                    svg {
                        height: 3rem;
                        width: 3rem;
                        border-radius: 2rem;
                        margin-top: 1.3rem;
                    }

                    span {
                        background-color: #fff;
                        border-radius: 1rem;
                        padding: 0.3rem;
                        font-size: 0.8rem;
                        color: #636262;
                        font-weight: 600;
                    }
                }

                .content--item {
                    max-height: 15.75rem;
                    padding: 2rem;
                }
            }
        }

        .slider {
            // outline: 1px dashed blue;
            margin-right: 5vw;
            margin-top: 2vw;
            margin-bottom: 2vw;
            height: 15rem;
            position: relative;

            &:hover {
                .btn {
                    transition: opacity 0.2s ease-in-out;
                    opacity: 1;
                }
            }

            .slider-inner {
                display: flex;
                padding: 1rem;
                overflow: hidden;

                .last-lern--course {
                    min-width: 360px;
                    max-width: 360px;
                    height: 13rem;
                    margin-right: 1rem;
                    border-radius: 0.5rem;
                    position: relative;

                    -webkit-box-shadow: 0px 0px 20px -13px rgba(66, 68, 90, 1);
                    -moz-box-shadow: 0px 0px 20px -13px rgba(66, 68, 90, 1);
                    box-shadow: 0px 0px 20px -13px rgba(66, 68, 90, 1);

                    header > .header--inner {
                        // outline: 1px dashed red;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 3rem;
                        background-color: #ecd61a;
                        border-radius: 0.5rem 0.5rem 0 0;

                        .header--left {
                            position: relative;
                            width: 100%;
                            height: 100%;

                            svg {
                                position: absolute;
                                top: 0.5rem;
                                left: 0.5rem;
                                border-radius: 50%;
                                z-index: 20;
                            }
                        }

                        .header--right {
                            width: 100%;
                            height: 100%;
                            line-height: 3rem;
                            text-align: right;
                            padding-right: 1rem;

                            span {
                                // display: block;
                                // outline: 1px solid red;
                                color: #636262;
                                background-color: #fff;
                                padding: 0 1rem;
                                border-radius: 0.5rem;
                                font-weight: 600;
                                font-size: 0.8rem;
                                z-index: 20;
                            }
                        }
                    }

                    &:last-child {
                        margin-right: 0;
                    }

                    &:hover > header {
                        border-radius: 0.5rem;
                    }

                    .content--show {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 3rem;
                        z-index: 10;
                        opacity: 0;

                        p.time-left {
                            color: white;
                            margin-top: 1.5rem;
                            margin-left: 2rem;
                        }
                    }

                    .content--item {
                        // padding-top: 8vw;
                        padding: 2rem;
                        h3 {
                            font-size: 1.5rem;
                            font-weight: 500;
                        }

                        p.time-left {
                            color: #75767a;
                            font-weight: 300;
                            margin: 1rem 0;
                        }

                        progress {
                            // appearance: none;
                            width: 100%;
                            height: 1.3rem;
                            // background-color: green;
                            // border-radius: 25%;
                        }
                    }

                    &:hover > .content--show {
                        background: rgb(236, 195, 26);
                        background: -moz-linear-gradient(
                            315deg,
                            rgba(236, 195, 26, 1) 0%,
                            rgba(236, 214, 26, 1) 35%
                        );
                        background: -webkit-linear-gradient(
                            315deg,
                            rgba(236, 195, 26, 1) 0%,
                            rgba(236, 214, 26, 1) 35%
                        );
                        background: linear-gradient(
                            315deg,
                            rgba(236, 195, 26, 1) 0%,
                            rgba(236, 214, 26, 1) 35%
                        );
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecc31a",endColorstr="#ecd61a",GradientType=1);

                        // background-color: #ecd61a;
                        min-height: calc(145px);
                        max-height: 360px;
                        // overflow: hidden;
                        border-radius: 0.5rem;
                        padding-top: 4rem;

                        h3 {
                            color: white;
                            margin-left: 1rem;
                            font-size: 1.5rem;
                        }

                        button {
                            background-color: transparent;
                            border: 3px solid white;
                            font-size: 1.2rem;
                            color: white;
                            text-transform: uppercase;
                            font-weight: 600;
                            border-radius: 2rem;
                            padding: 0.5rem 1rem;
                            text-align: right;
                            // margin-top: 3rem;
                            position: absolute;
                            right: 1rem;
                            bottom: 1rem;
                        }

                        opacity: 1;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            .btn {
                // outline: 1px dashed green;
                opacity: 0;
                border: none;
                // outline: 1px solid red;
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 50%;
                z-index: 100;

                -webkit-box-shadow: 0px 0px 20px -13px rgba(66, 68, 90, 1);
                -moz-box-shadow: 0px 0px 20px -13px rgba(66, 68, 90, 1);
                box-shadow: 0px 0px 20px -13px rgba(66, 68, 90, 1);

                svg {
                    width: 2rem;
                    fill: #b9b9b9;
                    color: #b9b9b9;
                }

                &:hover {
                    -webkit-box-shadow: 0px 0px 30px -11px rgba(66, 68, 90, 1);
                    -moz-box-shadow: 0px 0px 30px -11px rgba(66, 68, 90, 1);
                    box-shadow: 0px 0px 30px -11px rgba(66, 68, 90, 1);
                }
            }

            .btn-prev,
            .btn-next {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 50%;
            }

            .btn-prev {
                left: 0;
                transform: translate(-50%, -50%);
            }

            .btn-next {
                right: 0;
                transform: translate(50%, -50%);
            }
        }

        .slogans {
            display: flex;
            justify-content: space-between;
            outline: 1px solid red;

            .slogan {
                width: 50%;
            }

            .slogan--left {
                outline: 1px dashed green;
            }
        }

        .test-wrapper {
            margin: 2rem 0;
            outline: 1px dashed blue;
            padding: 1rem;
            position: relative;

            .test {
                border: 1px solid red;
                width: 360px;
                height: 10rem;
                opacity: 1;

                &:hover {
                    opacity: 0;
                }
            }

            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 1;
            }
        }
    }

    .main-footer {
        background-color: #212329;
        // position: absolute;
        // bottom: 4rem;
        width: 100%;
        margin-top: 2rem;

        // margin-top: 200px;

        .social {
            .social-media {
                list-style: none;
                display: flex;
            }
        }
        .social-icon {
            height: 2rem;
            background-color: transparent;
            border-radius: 2rem;

            &.facebook:hover {
                fill: #1877f2;
            }

            &.instagram:hover {
                fill: #e4405f;
            }

            &.youtube:hover {
                fill: #ff0000;
            }
        }
    }
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap
Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

@media (min-width: 735px) {
    .mobile-main-nav {
        display: none;
    }

    .show {
        display: block;
    }

    .promo {
        background-color: #d76996;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        a {
            color: white;
            font-weight: 500;
            font-size: 0.9rem;

            &:nth-child(2) {
                position: absolute;
                right: 1rem;
            }

            svg {
                height: 1rem;
            }
        }
    }

    .main-nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        background-color: #212328;
        padding: 0 2rem;

        &--left {
            display: flex;
            align-items: center;

            #logo {
                height: 1.4rem;
                width: 1.4rem;
                margin: 0;
                padding: 0;
            }
        }

        &--menu {
            display: flex;
            justify-content: flex-start;
            margin: 0;
            padding: 0;
        }

        &--item {
            margin: 0 0.8rem;
            position: relative;

            &:hover {
                // outline: 1px dashed red;
            }

            .main-nav--sub-menu {
                display: block;
                position: absolute;
                top: 2rem;
                left: -1.5rem;
                z-index: 10;
                background-color: #fff;
                width: 15rem;
                padding: 1.5rem;
                border-radius: 1rem;
                outline: 1px dashed red;
                -webkit-box-shadow: 0px 8px 10px -7px rgba(66, 68, 90, 0.5);
                -moz-box-shadow: 0px 8px 10px -7px rgba(66, 68, 90, 0.5);
                box-shadow: 0px 8px 10px -7px rgba(66, 68, 90, 0.5);

                li {
                    padding: 1rem 0;

                    a {
                        color: #161616;
                        font-weight: 700;
                        text-decoration: none;
                        font-size: 0.9rem;
                        display: flex;
                        align-items: center;

                        svg {
                            width: 1.5rem;
                            margin-right: 1rem;
                        }

                        svg:nth-child(2) {
                            fill: #fb677c;
                        }

                        &:hover {
                            background-color: #f7f7f7;
                        }
                    }
                }
            }

            & > ul {
                display: none;
            }
        }

        &--link {
            display: flex;
            align-items: center;
            color: white;
            font-weight: 600;
            font-size: 0.9rem;
            text-decoration: none;

            position: relative;

            & > svg {
                padding-left: 0.1rem;
                height: 1rem;
                width: 1rem;
            }

            &:hover {
                &::after {
                    content: "";
                    display: block;
                    width: calc(100% - 1.1rem);
                    height: 2px;
                    background-color: white;
                    position: absolute;
                    bottom: -0.3rem;
                }

                svg {
                    transition: transform 0.5s ease-in-out;
                    transform: rotate(180deg);
                }
            }
        }

        &--right {
            display: flex;
            align-items: center;

            form {
                display: flex;
                align-items: center;

                input {
                    display: none;
                    height: 2.43rem;
                    width: 6rem;
                    border: none;
                    outline: none;
                    border-radius: 2.43rem 0 0 2.43rem;
                    padding: 0 0 0 1rem;
                    background-color: #37393d;
                    color: #acacac;
                    font-weight: 600;

                    &::placeholder {
                        color: #acacac;
                        font-weight: 600;
                    }

                    // &:active {
                    //     background-color: yellow;
                    // }

                    &:focus {
                        background-color: #505258;
                    }
                }

                button {
                    height: 2.43rem;
                    width: 2.43rem;
                    border: none;
                    outline: none;
                    border-radius: 2.43rem;
                    background-color: #37393d;

                    svg {
                        height: 1rem;
                        color: #717274;
                    }
                }
            }

            .actions {
                // padding: 0 3rem;
                display: flex;
                border-left: 1px solid #2b2d31;
                border-right: 1px solid #2b2d31;
                margin: 0 0.8rem;
                align-items: center;

                &--item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 1rem;
                    width: 100%;
                    height: 100%;

                    &:hover {
                        align-items: flex-start;

                        & > a {
                            & svg {
                                padding-top: 15%;
                                transition: padding-top 0.2s ease;
                            }
                        }

                        & > a > p {
                            transition: opacity 0.3s ease;
                            opacity: 1;
                            width: 100%;
                        }
                    }
                }

                &--link {
                    // display: flex;
                    // justify-content: center;

                    margin: 0 auto;
                    text-align: center;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 0.6rem;
                    line-height: 1rem;

                    & > p {
                        // display: none;
                        opacity: 0;
                    }
                }
                svg {
                    height: 1.3rem;
                    padding-top: 25%;
                }
            }

            .user-menu {
                display: flex;
                align-items: center;

                &--item {
                    &:nth-child(2) {
                        margin: 0 0.8rem;
                    }
                }

                &--link {
                    color: white;
                    text-decoration: none;
                    font-weight: 500;

                    svg {
                        max-width: 2rem;
                        max-height: 2rem;
                    }
                }
            }
        }
    }

    .content {
        .slogan {
            margin: 2rem 0;
            h1 {
                font-size: 2.5rem;
            }

            p {
                font-size: 1.5rem;
                line-height: 2rem;
                font-weight: 200;
                letter-spacing: 0.1rem;
            }
        }
    }

    .main-footer {
        // position: static;
        // position: fixed;
        // bottom: 0;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

@media (min-width: 860px) {
    .main-nav {
        &--right {
            form {
                input {
                    display: none;
                }
                button {
                    border-radius: 2.43rem;
                }
            }
        }
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .content {
        .slogan {
            p {
                max-width: 50vw;
            }
        }
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1136px) {
    .main-nav {
        &--right {
            form {
                input {
                    display: block;
                    height: 2.43rem;
                    width: 6rem;
                    border: none;
                    outline: none;
                    border-radius: 2.43rem 0 0 2.43rem;
                    padding: 0 0 0 1rem;
                    background-color: #37393d;
                    color: #acacac;
                    font-weight: 600;

                    &::placeholder {
                        color: #acacac;
                        font-weight: 600;
                    }

                    &:focus {
                        background-color: #505258;
                    }
                }

                button {
                    height: 2.43rem;
                    width: 2.43rem;
                    border: none;
                    outline: none;
                    border-radius: 0 2.43rem 2.43rem 0;
                    background-color: #37393d;

                    svg {
                        height: 1rem;
                        color: #717274;
                    }
                }
            }
        }
    }

    .content {
        .slogan {
            padding: 8rem 2rem;
            background: url("../assets/images/wyszukiwanie.svg") right 5% center no-repeat;
            // background-size: 50% auto;
            background-size: auto auto;
            height: 40vh;
            // outline: 3px solid red;
        }
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1285px) {
    .main-nav {
        height: 75px;

        &--left {
            #logo {
                height: 3rem;
                width: 3rem;
            }
        }

        &--right {
            form {
                input {
                    width: 10rem;
                }
            }
        }
    }
}

@media (min-width: 1336px) {
    .main-nav {
        &--right {
            form {
                input {
                    width: 10rem;
                }
            }
        }
    }
}

@media (min-width: 1736px) {
    .main-nav {
        &--right {
            form {
                input {
                    width: 10rem;
                }
            }
        }
    }
}
